
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    
   
}
.circle2:hover,.circle3:hover,.circle4:hover,.circle5:hover{
    border: 20px solid black;
}
.circle1 {
    background-color: black;
    top: 25%;
    left: 40%;
    width: 300px;
    height: 300px;
   
}
.circle2 {
    background-color: green;
    top: 12%;
    left: 33%;
    width: 175px;
    height: 175px;
    border: 15px solid black;
    cursor: pointer;
    
}
.circle3 {
    background-color: red;
    top: 12%;
    right: 33%;
    width: 175px;
    height: 175px;
    border: 15px solid black;
    cursor: pointer;
}
.circle4 {
    background-color: yellow;
    bottom: 24%;
    left: 33%;
    width: 175px;
    height: 175px;
    border: 15px solid black;
    cursor: pointer;
}
.circle5 {
    background-color: blue;
    bottom:24%;
    right: 33%;
    width: 175px;
    height: 175px;
    border: 15px solid black;
    cursor: pointer;
}
.start-button {
   font-family: "Orbitron";
    font-size: 24px;
    padding: 10px 10px;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    bottom:55%;
    left:46%;
    position: absolute;
    text-align: center;
}

.number-display1 {
    
    font-size: 24px;
    padding: 10px 10px;
    color: black;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    bottom:55%;
    left:41%;
    position: absolute; 
    
}
.number-display2 {
    
    font-size: 24px;
    padding: 10px 10px;
    color: black;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    bottom:55%;
    right:41%;
    position: absolute;
    
}
.red-light {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    top: 47%;
    left: 49%;

    position: absolute;
}
